.app {
	display: flex;
	justify-content: center;
	align-items: start;
	height: max-content;
	background-color: #ffffff;
}

.profile-list {
	width: 340px;
	background-color: #ffffff;
	padding: 10px 20px 20px 20px;
}

h1 {
	text-align: center;
	font-size: 24px;
	margin-bottom: 20px;
}

.logo-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo {
	height: 80px;
	margin-bottom: 10px;
}

.text-name {
	font-size: 15px;
	font-weight: bold;
	display: flex;
	text-overflow: ellipsis;
	text-align: center;
}

.profile-card {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	margin-bottom: 10px;
	border-radius: 13px;
	border: 2px black solid;
	background: #ffffff;
	cursor: pointer;
}

.profile-image {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	margin: 5px;
}

.delete-button {
	background: none;
	border: none;
	cursor: pointer;
}

.delete-button img {
	width: 25px;
	height: 25px;
}

.add-profile {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px;
	border: 2px dashed #ccc;
	border-radius: 12px;
	margin-top: 10px;
	cursor: pointer;
}

.add-profile button {
	background: none;
	border: none;
	color: #888;
	font-size: 16px;
	cursor: pointer;
}
