.app {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #f0f0f0;
}

.profile-list {
	width: 300px;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	padding: 20px;
}

h1 {
	text-align: center;
	font-size: 24px;
	margin-bottom: 20px;
}

.profile-card {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	border: 2px solid #000;
	border-radius: 10px;
	margin-bottom: 10px;
}

.profile-image {
	border-radius: 50%;
	width: 40px;
	height: 40px;
	margin-right: 10px;
}

.delete-button {
	background: none;
	border: none;
	cursor: pointer;
}

.delete-button img {
	width: 20px;
	height: 20px;
}

.add-profile {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	border: 2px dashed #ccc;
	border-radius: 10px;
	margin-top: 10px;
	cursor: pointer;
}

.add-profile button {
	background: none;
	border: none;
	color: #888;
	font-size: 16px;
	cursor: pointer;
}
